.line-container {
    display: flex;
    align-items: baseline;
    width: 100%;
    margin-bottom: 10px;
}

.label {
    white-space: nowrap;
}

.line {
    flex: 1;
    border-bottom: 1px solid black;
    margin-left: 10px;
}

.fixed-line {
    border-bottom: 1px solid black;
    display: inline-block;
    width: 150px;
    margin-left: 10px;
}

.signature {
    margin-right: 0;
    text-align: right;
    display: inline-block;
    width: calc(100% - 150px);
}

.signature-right {
    margin-right: 2;
    text-align: right;
    display: inline-block;
    width: calc(100% - 30px);
}

.container {
    width: 100%;
}