.app {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.sidebar {
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    width: 240px;
    transition: width 0.3s;
    overflow-x: hidden;
}

.sidebar.collapsed {
    width: 50px;
}

.sidebar button.toggle-sidebar {
    align-self: flex-start;
    margin: 10px;
}

.sidebar .sidebar-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 20px 10px;
}

.sidebar button {
    margin: 5px;
}

.header-title {
    color: black;
    margin-bottom: 20px;
}

.inputs-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 100vh;
    padding: 20px;
}

.inputs {
    flex: 1;
    overflow-y: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
}

.output-container {
    flex: 2;
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 20px;
}

.content-container {
    flex: 1;
    overflow-y: auto;
    border-radius: 4px;
    background-color: #ffffff;
    padding: 20px;
}

.hidden-line {
    display: none;
    /* Скрытие незаполненных строк */
}

.line {
    border-bottom: none;
    /* Убираем подчеркивание у всех элементов */
}

.line:empty {
    visibility: hidden;
}

@media print {

    .sidebar,
    .inputs-container,
    .header-title {
        display: none !important;
    }

    .content-container {
        margin: auto;
        width: 100%;
        height: auto !important;
        max-height: none !important;
        overflow: visible !important;
        page-break-before: always;
    }

    body {
        overflow: visible !important;
    }

    @page {
        size: auto;
        margin: 20mm;
    }
}



@media (max-width: 768px) {
    .app {
        flex-direction: column;
    }

    .output-container {
        height: auto;
    }

    .inputs-container {
        height: auto;
    }
}

@page {
    size: A4;
    margin: 20mm;
}

.new-page {
    break-before: page;
}