:root {
  --color-background: whitesmoke;
  --color-pageSheet: #cfcfcf;
  --color-paper: white;

  font-family: Times, "Times New Roman", serif;
}

body {
  background-color: var(--color-background);
  counter-reset: section;
}

@page {
  size: A4;
  margin-top: 10mm;
  margin-right: 20mm;
  margin-bottom: 15mm;
  margin-left: 20mm;
}

.page-break {
  break-before: page;
}

.pagedjs_pages {
  display: flex;
  width: calc(var(--pagedjs-width) * 1);
  flex: 0;
  flex-wrap: wrap;
  margin: 0 auto;
}

.pagedjs_page {
  background-color: var(--color-paper);
  box-shadow: 0 0 0 1px var(--color-pageSheet);
  margin: 0;
  flex-shrink: 0;
  flex-grow: 0;
  margin-top: 10mm;
  page-break-before: always;
}

.pagedjs_page:last-of-type {
  margin-bottom: 5mm;
}

#title-page {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 100%;
  /* break-before: page; */
  /* break-after: page; */
}

#title-page-city_year {
  margin-top: auto;
  text-align: center;
  break-after: page;
}

.table thead th {
  min-width: 60px !important;
}
